<!-- the content heading -->

<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>


<!-- a message block -->

<!-- the flash message sent from the existing inventory controller -->
<%# messages() %>


<!-- an inventory items display -->
<%- grid %>


