<% if (messages() && messages().length > 0) { %>
  <div class="flash-messages">
    <%- messages() %>
  </div>
<% } %>

<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<p>Use the links below to add a new classification or a new inventory item.</p>
<ul>
  <li><a href="/inv/add-classification">Add Classification</a></li>
  <li><a href="/inv/add-inventory">Add Inventory Item</a></li>
</ul>

<h2>Manage Inventory</h2>
<p>Select a classification from the list to see the items belonging to that classification.</p>

<div class="form-group">
  <label for="classificationList">Classification</label>
  <%- classificationSelect %>
</div>

<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>

<!-- Inventory AJAX script -->
<script src="../../js/inventory.js"></script>