
<!-- managment view -->

<% if (title) { %>
  <h1 class="managment-title"><%= title %></h1>
<% } else { %>
  <h1 class="managment-title">Inventory Managment</h1>
<% } %>

<%- managment %>



<!-- the flash message sent from the existing inventory controller -->
<%# messages() %>


